* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-box {
  width: 100%;
  height: 450px;
}
.footer-box1 {
  widows: 100%;
  height: 400px;
  background-color: whitesmoke;
  display: flex;
  padding-top: 50px;
  padding-left: 50px;
}
.footer-box2 h1 {
  font-size: 25px;
}
.footer-box2 h5 {
  margin-top: 20px;
}
.footer-box2 button {
  width: 120px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 30px;
}
.footer-box3 {
  margin-left: 20px;
  font-size: 20px;
  text-align: center;
}
.footer-box3 li {
  margin-top: 10px;
}
.footer-box4 {
  text-align: center;
  margin-left: 30px;
  font-size: 20px;
}
.footer-box4 li {
  margin-top: 20px;
}
.footer-box5 {
  margin-left: 40px;
}
.footer-box5 img {
  margin-left: 10px;
}
.footer-box6 {
  margin-left: 40px;
}
.footer-box6 h6 {
  font-size: 12px;
}
